body {
    font-family: Arial, sans-serif;
   
    margin: 0;
    size: 16px;
}
main {
    display: flex;
    background-color: #bc66bc;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    row-gap: 1em;
}
.main-header {
    background-color: #4CAF50;
    /* -- 3 x 16px = 48px */
    height: 3em; 
    display: flex;
    align-items: center;
 
}
nav {
    display: flex;
    /* --Hace que el nav ocupe todo el espacio disponible del container padre: header*/
    flex-grow: 1;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
.main-section {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    column-gap: 0.4em;
    
}
.main-section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #4d5959 0.5px solid;
}
.sidebar-left {
    background-color: #66bcbc;
    flex-grow: 1;
    max-width: 30%;
    min-width: 280px;
    
}
.main-sec-content{
    background-color: #f3aa65;
    flex-grow: 3;
    min-width: 280px;
    max-width: 40%;
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
}
.chat-content {
    padding: 0.5em;
    background-color: #e0b2e0;
    flex-grow: 1;
}
.chat-content p {
   width: fit-content;
   
}
.text-area-content {
    display: flex;
    flex-direction: column;
    background-color: #4d5959;
    padding: 0.5em;
    
}
.text-area-actions {
    display: flex;
    justify-content: space-between;
    
}
.text-area-actions textarea {
    flex-grow: 1;
}
.sidebar-right {
    display: flex;
    flex-direction: column;
    background-color: #66bcbc;
    flex-grow: 1;
     max-width: 30%;
    min-width: 280px;

}
.card-content {
    padding: 0.5em;
    background-color: #e0b2e0;
    display: flex;
    flex-direction: column;
    border-bottom: #4d5959 0.5px solid;
    font-size: 0.8em;
    height: fit-content;
    
}
.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}
.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    height: 80px;
}
.card {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    flex-grow: 1;
}
.list-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content ;
    
}
.list-content button {
   margin: auto;
}


footer {
    background-color: #aadb17;
    
}