body {
    font-family: Arial, sans-serif;
   
    margin: 0;
    size: 16px;
}
main {
    display: flex;
    background-color: rgb(188, 102, 188);
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    row-gap: 1em;
}
header {
    background-color: #4CAF50;
    /* -- 3 x 16px = 48px */
    height: 3em; 
    display: flex;
    align-items: center;
 
}
nav {
    display: flex;
    /* --Hace que el nav ocupe todo el espacio disponible del container padre: header*/
    flex-grow: 1;
    justify-content: space-between;
    height: auto;
    align-items: center;
}
.main-section {
    display: flex;
    flex-grow: 1;
    column-gap: 0.4em;
    
}
.sidebar-left {
    background-color: rgb(102, 188, 188);
    flex-grow: 1;
    
}
.main-sec-content{
    background-color: rgb(243, 170, 101);
    flex-grow: 3;
    
}
.sidebar-right {
    background-color: rgb(102, 188, 188);
    flex-grow: 1;

}

footer {
    background-color: #ade507;
    
}