:root {
    --primary-color: #163B72;
    --secondary-color: #CAFFD5;
    --header-text-color: white;
    --header-font-famly: 'Rockwell', serif;

    --container-shadow: var(--primary-color) 0px 4px 6px -1px, #0b0b0b 0px 2px 4px -1px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.rockwell-font {
    font-family: 'Rockwell', serif;
}
header {
    background-color: var(--primary-color);
    padding: 1em;
    border-bottom: var(--secondary-color) 1em solid;
    box-shadow: var(--primary-color) 0px 4px 6px -1px, #0b0b0b 0px 2px 4px -1px;
    font-family: var(--header-font-famly);
    color: var(--header-text-color)
}
.main-nav {
    list-style-type: none;
    padding-left: 0;

}
.main-nav li a {
    color: white;
    text-decoration: none;
    list-style: none;
    
}
.main-section {
    padding: 1em;
}
.getInTouch-section {
    display: flex;
    flex-direction: column;
   
}
.h2-title {
    color: var(--primary-color);
   /* offset-x | offset-y | blur-radius | color */
    text-shadow: 0px 0.5px 2px var(--primary-color); 
}

.getInTouch-paragraph {
    border-left: var(--secondary-color) 1em solid;
    padding-left: 0.5em;
}
.get-intouch-link {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    text-decoration: none;
    border-radius: 4px;
    align-self: center;
}
.container-paragraph {
    background-color: var(--primary-color);
    padding: 1em;
    border-radius: 8px;
    opacity: 0.6;
    box-shadow: var(--container-shadow)
}
.about-section {
    position: relative;
    z-index: -1;
}

.about-paragraph {
    color: white;
    margin: 0;

}
.picture-container {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    background-color: white;
    overflow: hidden;
    border: 3px solid var(--secondary-color);
    position: absolute;
    top: -18%;
    right: 2%;
    box-shadow: var(--container-shadow)
}
.picture {
    width: 88px;
    height: 88px;
}
.container-experience {
   overflow: hidden;
   padding: 10px;
   position: relative;

}
.container-experience::before{
    content:'';
    width: 0.5em;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 180px;
    left: 30px;

}
.content-item {
   background: white;
   padding:1.2em;
   margin: 2.2em 4.4em;
   width: 70%;
   border-radius: 0.5em;
    box-shadow: var(--container-shadow);
    position: relative;
}
.content-item:before {
    content: '';
    width: 20px;
    height: 20px;
    background:white;
    position: absolute;
    left: -10px;
    top: 50%;
    box-shadow: var(--container-shadow);
    transform: translateY(-50%) rotate(33deg);
    z-index: -1;
}
.content-item::after {
    content: '';
    width: 1.4em;
    height: 1.4em;
    border: 4px solid var(--primary-color);
    background:var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    left: -60px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--container-shadow);
}

.container-experience .content-item:last-child {
    margin-bottom: 0;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    background-color: violet;
    justify-content: center;
   

    
}
.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5em;
    padding: 0;
    margin-bottom: 1em;
    box-shadow: var(--container-shadow);
    width: 250px;
}
.card-header {
    background-color: var(--primary-color);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.card-title {
    color: white;
    text-align: center;
    padding: 0.5em;
    margin: 0;
}
.card-content-container {
    padding: 0.6em;
    
}